driver=org.postgresql.Driver
classpath=<putClonedRepoPathHere>/python_rpg_sim/liquibase/postgresql-42.2.17.jar
url=jdbc:postgresql://localhost:5432/rpg
username=rpg_admin
password=cCl52yUQ4pTRBp0
changeLogFile=./dnd5e_master.xml
